html{
    background-color: #B0E0E6;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Salsa', cursive;
    font-size: larger;
}
.pic{
    width: 200px
}
.name{
    font-size:22px;
    font-weight: bolder;
}
.type{
    font-size: 20px;
    font-weight: bold;
}
.btech{
    text-decoration: none;
}
@media(min-width: 566.400px){
    .pic{
        display: none;
    }
}